
Backend/Solution/.vs/
Backend/Solution/Solution.API/bin/
Backend/Solution/Solution.API/obj/
Backend/Solution/Solution.API.W/bin/
Backend/Solution/Solution.API.W/obj/
Backend/Solution/Solution.API.W/
Backend/Solution/Solution.API.W/
